:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #e5e7eb;
}

.all-badges{
  display: flex;
  flex-direction:row;
  gap: 10px;
}

.badges-div{
  display:flex;
  flex-direction: column;
}

.badge{
  width: 67px;
  height: 24px;
  padding-top: 2px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-left: 12px;
  opacity: 1;
  /* border:1px solid black; */
  margin-bottom:10px;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.rounded{
  border-radius: 12px;
}

.gray{
  color:#1F2937;
  background-color: #F3F4F6;
}

.red{
  color:#991B1B;
  background-color: #FEE2E2;
}

.yellow{
  color:#92400E;
  background-color: #FEF3C7;
}

.green{
  color:#065F46;
  background-color: #D1FAE5;
}

.blue{
  color:#1E40AF;
  background-color: #DBEAFE;
}

.indigo{
  color:#3730A3;
  background-color: #E0E7FF;
}

.purple{
  color:#5B21B6;
  background-color: #EDE9FE;
}

.pink{
  color:#9D174D;
  background-color: #FCE7F3;
}


























/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
