:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #e5e7eb;
  padding:2em;
  --tooltip-color: red;
}

p{
  margin-block-start: 0;
  margin-block-end:0;
}

.h1-badges{
  font-family: Permanent Marker;
  font-weight: 400;
  font-size: 44.1px;
  line-height: 63px;
}

.h2-badge{
  font-family: Permanent Marker;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  margin-top: 8px;
  margin-right: 16px;
}

.all-badges{
  display: flex;
  flex-direction:row;
  gap: 10px;
  flex-wrap: wrap;
}

.badges-div{
  display:flex;
  flex-direction: column;
}

.badge{
  width: 67px;
  height: 24px;
  padding-top: 2px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-left: 12px;
  opacity: 1;
  margin-bottom:10px;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.rounded{
  border-radius: 12px;
}

.gray{
  color:#1F2937;
  background-color: #F3F4F6;
}

.red{
  color:#991B1B;
  background-color: #FEE2E2;
}

.yellow{
  color:#92400E;
  background-color: #FEF3C7;
}

.green{
  color:#065F46;
  background-color: #D1FAE5;
}

.blue{
  color:#1E40AF;
  background-color: #DBEAFE;
}

.indigo{
  color:#3730A3;
  background-color: #E0E7FF;
}

.purple{
  color:#5B21B6;
  background-color: #EDE9FE;
}

.pink{
  color:#9D174D;
  background-color: #FCE7F3;
}

/***** BANNERS ****/
.banner-div{
  display: flex;
  width: 896;
  height: 80;
  opacity: 1;
  gap: 12px;
  border-radius: 6px;
  padding: 16px;

}

.banner-ps-div{
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.banner-p-title{
  font-weight: 500;
}

.success{
  background-color: #ECFDF5;
  color: #065F46;
}

.warning{
  background-color: #FFFBEB;
  color: #92400E;
}

.error{
  background-color: #FEF2F2;
  color: #92400E;
}

.neutral{
  background-color: #EFF6FF;
  color: #1E40AF;
}

.h1-banners{
  font-family: Permanent Marker;
  font-weight: 400;
  font-size: 44.1px;
  line-height: 63px;
}

.status-icon-div{
  margin-right:0.5em;
}

.banner-div>div>svg{ /*ICON*/
  width:16px;
  height: 16px;
  margin-bottom: -0.1em;
}

.icon-success{
  color: #34D399;
}

.icon-warning{
  color: #FBBF24;
}

.icon-error{
  color: #F87171;
}

.icon-neutral{
  color: #60A5FA;
}

/**** CARD ****/
.h1-card{
  font-family: Permanent Marker;
  font-weight: 400;
  font-size: 44.1px;
  line-height: 63px;
}

.cards-flex-div{
  display: flex;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
}

.card-div{
  background-color: #F9FAFB;
  width: 335px;
  height: 195px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  gap: 32px;
  opacity: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  position: relative;
}

.card-div:hover{
  box-shadow: 0px 4px 25px 0px #0000001A;
}

.icon-div{
  position: absolute;
  z-index: 10; 
  top: -25px;
  right: 45%;
  display: inline-block;
  width: auto;
  opacity: 1;
  border-radius: 6px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon{
  width: 24px;
  height: 24px;
  opacity: 1;
  color:white;
}

.icon-card-color{
  background-color:#3F75FE;
}

.icon-card-orange{
background-color: #ffb300;
}

.icon-card-red{
background-color: #e03131;
}

.h3-card{
  color: #111827;
  margin-top: 0;
  margin-bottom: 0;
}

.p-card{
  color: #6B7280;
}

/***** TESTIMONIALS ****/

.h1-testimonial{
  font-family: Permanent Marker;
  font-weight: 400;
  font-size: 44.1px;
  line-height: 63px;
}

.testimonial-div{
  margin: 0 auto; /* centering Testimonial */
  background-color: #F9FAFB;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Inter;
  max-width: 950px;
  padding: 3em 0;
}

.background-dots{
  position: absolute;
  z-index: 0;
  align-self: baseline;
}

@media (max-width: 880px) {
  .background-dots{
   margin-top: 110px;
  }

  .testimonial-footer-p{
    max-width: 222px !important;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  .slash{
    display: none;
  }

  .testimonial-p, .testimonial-footer-p{
  text-align: left;
  }
}

.testimonial-div-text{
  max-width: 450px;
  z-index: 1;
}

.testimonial-h3, .testimonial-p{
  font-weight: 500;
  letter-spacing: -1px;
}

.testimonial-p{
  margin: 30px 10px;
}

.blue-color{
  color: #2E59F3;
}

.icon-testimonial-1{
  position: relative;
  left: 9px;
}

.icon-testimonial-2{
  position: relative;
  top: 4px;
}

.testimonial-footer-p{
  margin-block-start: 1em;
  margin-block-end: 1em;
  max-width: 880px;
  letter-spacing: -0.5px;
}

.black-color{
  color: black;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.slash{
  font-weight: 900;
  margin: 0 4px;
}

.gray-color{
  color: #6B7280;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

/***** TESTIMONIALS WITH IMAGES****/
.testimonialImg-div{
  margin: 0 auto; /* centering Testimonial */
  background-color: #2545B8;
  color:#FFFFFF;
  display:flex;
  font-family: Inter;
  max-width: 950px;
  padding: 3em 0;
  max-height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
}

.testimonialImg-div-text{
  max-width: 500px;
  margin-left: 165px;
  z-index: 1;
}

.testimonialImg-citations{
  height: 35px;
  width: 35px;
}

.testimonialImg-div-mainText{
 margin: 20px 0;
}

.testimonialImg-img{
width: 384px;
height: 464px;
opacity: 1;
top: -9px;
left: 40px;
border-radius: 12px;
position: absolute;
width: auto;
height: 315px;
max-width: 210px;
object-fit: cover;/* ensures it fills the area */
object-position: center;
}

.testimonialImg-footer-p{
  letter-spacing: -0.5px;
  color:#FFFFFF;
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0%;
}

@media (max-width: 940px) { /* MOBILE */
  .testimonialImg-div {
    max-width: fit-content;
  }

  .testimonialImg-div-text {
    max-width: 500px;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 1;
    padding-top: 220px;
  }

  .testimonialImg-img {
    height: 315px;
    width: 87%;
    height: 235px;
    object-fit: cover;        /* ensures it fills the area */
    object-position: center;     /* crops from the top */
    border-radius: 0.5rem;
    margin-left: -5px;
    max-width: none;
  }
}

/* TOOLTIP */
.h1-tooltips{
  font-family: Permanent Marker;
  font-weight: 400;
  font-size: 44.1px;
  line-height: 63px;
}

.tooltip-divs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.palette-div{
  width: 384;
  height: 112;
  opacity: 1;
  position: relative;
  display: inline-block; /*only the width needed to fit content*/
  border-radius:10px;
  margin: 0 20px 60px;
}

.palette-div:hover{
  box-shadow: 0px 4px 25px 0px #0000001A;
  cursor: pointer;
}

.tooltip{
  opacity: 1;
  bottom: -15px;
  left: 60px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  /* background-color comes from inline style */
}

.blackish{
  background-color: #262626;
  color: #C7C7C7;
  --accent-color: #FFFFFF; /* your own made up property*/
}

.blueish{
  background-color: #1E40AF;
  color: #E8EDFF;
  --accent-color: #FFFFFF;
}

.magentaish{
  background-color: #A9229B;
  color: #FFE9FD;
  --accent-color: #FFFFFF;
}

.greenish{
  background-color: #47AA5D;
  color: #E3FFE9;
  --accent-color: #FFFFFF;
}

.tooltip-h3{
  margin: 2px 13px 10px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.tooltip-text-div{
  padding:2em;
}

.icons-titel-tooltip-div{
  display:flex;
}

.tray-icon-tooltip{
  width: 26px;
  height: 26px;
  opacity: 1;
}

.cross-icon-tooltip{
  width: 24px;
  height: 24px;
  margin-left: auto; /* to be all the way to the right */
}

.tooltip-p{
  max-width: 400px;
  margin-left: 38px;
  margin-right: 38px;
}

/* TOOLTIP */
.h1-toasts{
  font-family: Permanent Marker;
  font-weight: 400;
  font-size: 44.1px;
  line-height: 63px;
}





/* 
:root {
  --blackish-bg: #262626;
  --blackish-text: #C7C7C7;
  --blueish-bg: #1E40AF;
  --blueish-text: #E8EDFF;
  --magentaish-bg: #A9229B;
  --magentaish-text: #FFE9FD;
  --greenish-bg: #47AA5D;
  --greenish-text: #E3FFE9;
} */
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
